@import "src/common/styles/sass/variables.sass";
@import "src/common/styles/sass/mixins.sass";

.header {
  background-color: $bgColor2;
  color: $primaryColor;
  height: 80px;
  padding: 0 30px;
  @include flex(row, flex-end, center, nowrap);
  opacity: 0/9;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  @media screen and (max-width: 360px) {
    width: 300px;
    transition: .5s;
  }

  .container {
    @include container();
    @media screen and (max-width: 360px) {
      width: 300px;
      transition: .5s;
    }
    @include flex(row, space-between, center, nowrap);

  }
}