@import "src/common/styles/sass/variables.sass";
@import "src/common/styles/sass/mixins.sass";
@import "src/common/components/button/Button.module";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgColor2;

  .skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .title {
      margin-bottom: 20px;
      @include text($titleFontFamily, 35px, 1.2, 300);
      color: $primaryColor;
      letter-spacing: 5px;
    }

    .button {
      @extend .btn;
      align-self: center;
      background-color: transparent;
      margin-top: 30px;
    }
  }
}


