@import "src/common/styles/sass/variables.sass";
@import "src/common/styles/sass/mixins.sass";
.footersBlock {
  /*min-height: 100vh;*/
  background-color: $bgColor;

  .footersContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .title{
      @include text($textFontFamily,12px, 1.8);
    }
    .footers {
      width: 285px;
      height: 60px;
      display: flex;
      justify-content: space-between;
    }
  }
}

