.skillsBlock{
    min-height: 100vh;
    background-color: aqua;
}
.skillsContainer{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.title{
    background-color: darkseagreen;
}
.skills{
    width: 285px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}